#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$LlkmgxbknFrR7HOp$aEAqDloewzphGPfyc40r08KZSuc1ifRlzcKN74F0cmnLOLowZ6wlDswc09aesEyJ3bBDDEPL6KAFtACwgJ46p.
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=devops --password=$6$b1zcp0qRYj0/Y5vU$v0sTXzAwmSirKP4vqExRFIFrqfJg1epw/EGF9jzuAPRk4qeMtKIfClLrvDMXrJMU/Zw1UdBM.ZCmCkXvnFhFd/ --iscrypted --gecos="devops"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=1500
part pv.253 --fstype="lvmpv" --ondisk=sda --size=18979
volgroup centos --pesize=4096 pv.253
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=centos
logvol /  --fstype="xfs" --size=16927 --name=root --vgname=centos

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
